@font-face {
  font-family: LatoRegular;
  src: url(fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: Lato-Bold;
  src: url(fonts/Lato-Bold.ttf);
}

@font-face {
  font-family: LatoLight;
  src: url(fonts/Lato-Light.ttf);
}

.App {
  text-align: center;
  font-family: LatoRegular, helvetica, sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

nav {
  margin-bottom: 2em;
}

p {
  margin-top: 1rem !important;
}

.asidePanel {
  /* padding-top: 2em; */
  height: 100%;
  padding: 2em !important;
}

body.dark-mode .asidePanel {
  border-right: 1px solid #424242 !important;
}

body.light-mode .asidePanel {
  border-right: 1px solid #ced4da !important;
}

body.dark-mode .react-kanban-column {
  background-color: rgba(180, 180, 180, 0.1);
}

.react-kanban-card {
  text-align: left;
}

body.dark-mode .react-kanban-card {
  background-color: rgba(23, 162, 184, 0.5);
  color: #d7d7d7;
}

.asidePanel h3 {
  margin-top:1em;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav .navbar-toggler {
  border-color: rgba(0, 0, 0, 0) !important;
  outline: none !important;
}

.icon-bar {
  background-color: #9a9da0;
  margin-top: 6px;
  margin-bottom: 6px;
  display: block;
  height: 1px;
  width: 22px !important;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#basic-nav-dropdown, .dropdown-menu {
  text-align: right;
}

/* ANIMATED NAVBAR TOGGLER */
.navbar-toggle.x .icon-bar:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 10% 10%;
  -ms-transform-origin: 10% 10%;
  transform-origin: 10% 10%;
}

.navbar-toggle.x .icon-bar:nth-of-type(2) {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggle.x .icon-bar:nth-of-type(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 10% 90%;
  -ms-transform-origin: 10% 90%;
  transform-origin: 10% 90%;
}

/* ANIMATED X COLLAPSED */
.navbar-toggle.x.collapsed .icon-bar:nth-of-type(1) {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}

.navbar-toggle.x.collapsed .icon-bar:nth-of-type(2) {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggle.x.collapsed .icon-bar:nth-of-type(3) {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}
/* END ANIMATED NAVBAR TOGGLERX */

.form-control {
  background-color: rgba(0,0,0,0) !important;
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-radius: 0 !important;
}

*::selection{
  background-color: rgba(23, 162, 184, 0.5);
}

.form-control:focus {
  /* border-color: inherit !important; */
  -webkit-box-shadow: none !important;
  border-color: #17a2b8 !important;
  box-shadow: none !important;
  /* box-shadow: 0 0 10px #cf7272 !important; */
}

body.dark-mode .form-control::placeholder, body.dark-mode .form-control {
  color: #e6e6e6 !important;
}

body.dark-mode .modal-header, body.dark-mode .modal-footer {
  border-color: #4e4e4e;
}

.input-range {
  width: 70%;
  margin: 1em auto 3em auto;
}

.input-range__track--active, .input-range__slider {
  background: #17a2b8;
  border: #17a2b8;
}

.input-range__label-container {
  font-size:8pt;
}

body {
  margin-top:21em;
}

body.light-mode {
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s ease;
}
body.dark-mode {
  background-color: #1a1919;
  color: #808080 !important;
}

body.light-mode .modal-content {
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s ease;
}
body.dark-mode .modal-content {
  background-color: #1a1919;
  color: #999;
}

body.dark-mode .table {
  color: #cccccc;
}

body.dark-mode .table tr:hover {
  color: #ddd;
}

body.dark-mode .fc-scrollgrid .fc-daygrid-event-harness {
  color: #17a2b8;
}

body.dark-mode .fc-daygrid-day-number {
  color: #e2e2e2;
}

body.dark-mode .fc-scrollgrid,
body.dark-mode .table-bordered td,
body.dark-mode .table-bordered th {
  border-color: #555;
}

body.light-mode .table-bordered td, body.light-mode .table-bordered th {
  border-color: 1px solid #dee2e6;
}

body.dark-mode h1, body.dark-mode h2, body.dark-mode h3 {
  color: #17a2b8;
}

body.dark-mode .navbar {
  background-color: #1d1d1d;
  transition: background-color 0.3s ease;
}

body.dark-mode .navbar a {
  transition: background-color 0.3s ease;
  color: #8f8f8f !important;
}

.navbar .nav-link {
  transition: .5s ease;
}

.navbar .nav-link:hover {
  transition: .5s ease;
  color: #17a2b8 !important;
}

body.dark-mode .navbar .active {
  transition: background-color 0.3s ease;
  color: #ffffff !important;
}

body.dark-mode #todosTable .todoItem th {
  border-top: 1px solid #424242 !important;
}

#todosTable {
  margin-top: 3em;
}

#todosTable tr:hover {
  transition: .3s ease;
  background-color: rgba(23, 162, 184, 0.15);
}

body.light-mode .navbar {
  background-color: #f1f1f1;
  transition: background-color 0.3s ease;
}

.react-datetime-picker {
  background-color: #fff;
  margin-left:5px;
  margin-right: 5px;
}

.table th{
  font-weight: 200;
  font-size:11pt;
}

.navbar-usericon {
  width: 30px;
  border-radius: 50%;
}

a {
   outline: 0;
}

.todoItem {
  border-bottom: 1px solid #ccc;
}

.priorityLow {
  color: #17a2b8;
}

.priorityMedium {
  color: #ffc107;
}

.priorityHigh {
  color: #dc3545;
}

.tagSpan {
  /* padding:5px;
  border-radius:5px;
  margin: 2px; */
  color: #fff;
  font-weight: 500 !important;
  margin: 4px;
  display: inline-block;
}

.tagSpan .mdi {
  margin-left: 3px;
}

.tagsField {
  max-width: 120px;
}

.doneItem {
  text-decoration: line-through;
  color: #ccc;
}

.taskNameTh, .removeTagIcon, .addTagEntirely {
  cursor: pointer;
}

.topRowModal {
  width: 100%;
}

/* KANBAN */

.kanbanContainer {
  overflow-x: auto;
}

.column {
  background-color: rgba(180, 180, 180, 0.1);
  display: inline-block;
  padding-bottom:1em;
  margin:1em 1em 1em 1px;
  float: none;
  min-width: 300px !important;
  max-width: 300px !important;
  border-radius: 3px;
  height: auto !important;
}

.column:first-child {
  margin-left: 1em;
}

body.dark-mode .card {
  background-color: rgba(23, 162, 184, 0.5);
  color: #fff;
}

body.light-mode .card {
  background-color: #fff;
}

.card {
  margin:.5em;
  text-align: left;
  border: 0px !important;
  transition: .3s ease;
  /* max-height: 200px; */
}

body.light-mode .card:hover {
  background-color: rgba(23, 162, 184, 0.05);
}

.card .cardTitle {
  /* max-width: fit-content(100px); */
  text-align: left !important;
  cursor: pointer;
  /* margin-left: 1em;
  margin-right: 1em; */
}

.card .cardTitle p {
  border-bottom: 1px solid #d4d4d4;
  padding-bottom: 6px !important;
  margin-bottom: 0;
  margin-top: 2px !important;
}

.moveBtnContainer {
  padding: 0 !important;
}

.moveBtnRight {
  border-radius: 0 0 3px 0 !important;
}

.moveBtnLeft {
  border-radius: 0 0 0 3px !important;
}

.cardHeader {
  margin-top:10px;
}

.cardPriority {
  margin-right: 3px;
}

@media only screen and (min-width: 768px) {
  .navbar-expand-md .navbar-nav .dropdown-menu {
    margin-left: -180% !important;
  }
}
